*{
    font-family: cursive;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: white;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
}

.box{
    height: 100px;
    min-width: 200px;
    flex-grow: 1;
}

.one{
    background: yellow;
    flex-shrink: 3;
}

.two{
    background: red;
    flex-shrink: 2;
}

.three{
    background: blue;
    flex-shrink: 1;
}